.AnswerItem {
    margin-bottom: 7px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.AnswerItem:hover {
    background-color: rgba(255, 255, 255, .2);
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.AnswerItem.success {
    background-color: rgba(13, 190, 81, 0.5);
    border: 1px solid rgb(13, 190, 81);
    transition: background-color .3s ease-in-out;
}

.AnswerItem.error {
    background-color: rgba(190, 13, 13, 0.5);
    border: 1px solid rgb(190, 13, 13);
    transition: background-color .3s ease-in-out;
}