.ActiveQuiz {
    width: 600px;
    padding: 30px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
}